<%= link_to 'Back', admin_service_events_path(@service, date: @week_start - 7) %>
<h1><%= @week_start.strftime("Semana %U, %Y") %></h1>
<%= link_to 'Next', admin_service_events_path(@service, date: @week_start + 7) %>

<% 7.times do |day| %>
  <% date = @week_start + day %>
  <h2><%= date.strftime("%a %e %b")%></h2>
  <% @slots.on_date(date).each do |slot| %>
    <%= slot.available_on_date?(date) ? slot.display : (link_to slot.display, admin_event_path(slot.event_on_date date)) %>
  <% end %>
<% end %>