<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Note:</strong>
  <%= @event.note %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @event.hour %>
</p>  

<p>
  <strong>User:</strong>
  <%= @event.user.email %>
</p>

<%= link_to 'Back', events_path %>
