<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Note:</strong>
  <%= @event.note %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @event.hour %>
</p>  

<p>
  <strong>User:</strong>
  <%= @event.user.email if @event.user %>
</p>

<%= link_to 'Liberar', admin_event_path(@event), method: :delete, data: { confirm: '¿Estás seguro?' } %>
