<%= form_with(model: free_trial, local: true) do |form| %>
  <% if free_trial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(free_trial.errors.count, "error") %> prohibited this free_trial from being saved:</h2>

      <ul>
        <% free_trial.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :contact_time %>
    <%= form.text_field :contact_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
