<!DOCTYPE html>
<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <h2 style="font-family:'Work Sans','Arial','sans-serif'">Nueva Cita <%= @event.name %></h2>
    <p style="font-family:'Work Sans','Arial','sans-serif'">Para: <b><%= @user.name.titleize %></b></p>
    <p style="font-family:'Work Sans','Arial','sans-serif'">Fecha: <b><%= I18n.l @event.date %></b></p>
    <p style="font-family:'Work Sans','Arial','sans-serif'">Hora: <b><%= @event.display %> <%= @event.time_zone %></b></p>
</body>

</html>