
<section class="ftco-section">
  <div class="container">
    <div class="d-flex justify-content-center mb-3">
      <div class="heading-section">
        <h2 class='text-center'><%= @slot_blocker.display %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="testimony-wrap p-4 text-center">
          <% if event = @slot_blocker.event %>
            <div class="text">
              <% if event.blocked? %>
                <p class="name">Status: Bloqueado</p>
              <% else %>
                <p class="name"><%= event.user.name%></p>
              <% end %>
            </div>
          <% end %>
          <div class="row mt-3 d-flex justify-content-center">
              <%= link_to 'Liberar',  unblock_admin_service_blockers_path(@service, @blocker_params),
                                      class: "btn btn-success py-3 px-5 mx-5 my-2",
                                      method: :post,
                                      data: { confirm: '¿Estás seguro/a?' } %>
              <%= link_to 'Bloquear', block_admin_service_blockers_path(@service, @blocker_params), 
                                      class: "btn btn-danger py-3 px-5 mx-5 my-2",
                                      method: :post, 
                                      data: { confirm: '¿Estás seguro/a?' } unless event.try(:blocked?) %>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
          <%= link_to '<< Regresar', :back, class: "btn btn-primary py-3 px-5" %>
        </div>
      </div>
    </div>
  </div>
</section>