
<section class="ftco-section">
  <div class="container">
    <div class="d-flex justify-content-center mb-3">
      <div class="heading-section">
        <h2 class='text-center'><%= @slot_blocker.display %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="testimony-wrap p-4 text-center">
          <% if event = @slot_blocker.event %>
            <div class="text">
              <% if event.blocked? %>
                <p class="name text-danger">Este horario está bloqueado</p>
              <% else %>
                <p class="name">Reserva: <%= event.user.name%></p>
                <p class="name">Email: <span class="text-lowercase"><%= event.user.email %></span></p>
                <p class="name">Telf: <%= event.user.phone%></p>
                <b><%= link_to 'Ver Soporte de Pago', url_for(event.payment_screenshot), target: :_blank if event.payment_screenshot.attached? %></b>
              <% end %>
            </div>
          <% end %>
          <div class="row mt-3 d-flex justify-content-center">
              <%= link_to ('Liberar ' + @slot_blocker.unit),
                    unblock_admin_service_blockers_path(@service, @blocker_params),
                    class: "btn btn-success py-3 px-5 mx-5 my-2",
                    method: :post,
                    data: { confirm: '¿Estás seguro/a?' } %>
              <%= link_to ('Bloquear ' + @slot_blocker.unit),
                    block_admin_service_blockers_path(@service, @blocker_params), 
                    class: "btn btn-warning py-3 px-5 mx-5 my-2",
                    method: :post, 
                    data: { confirm: '¿Estás seguro/a?' } unless event.try :blocked? %>
              <%= link_to ('Eliminar ' + @slot_blocker.unit),
                    admin_slot_path(@slot_blocker.slot),
                    class: "btn btn-danger py-3 px-5 mx-5 my-2",
                    method: :delete,
                    data: { confirm: '¿Estás seguro/a?' } if @slot_blocker.slot %>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
          <%= link_to '<< Regresar', admin_service_events_path(@service), class: "btn btn-primary py-3 px-5" %>
        </div>
      </div>
    </div>
  </div>
</section>